.mainPage{
/*	background: url('/images/bg.jpg') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	/*padding-top:100px;*/
	color:#252525;
	/*line-height:50vh;*/
}
.middleAligned{
	padding:3%;
	padding-bottom:2%;
}
.loading_container{
	text-align:center
}
#tweets{
	/*width:700px !important;*/
	padding-top: 10px;
	margin:0 auto;
	padding-bottom:50px;
	display:block !important;
}
#tweet{
	border:1px solid #eee;
}
.tweeting_user_image{
	width:40px !important;
	height:40px !important;
}
.image_container{
	padding-left:0 !important;
	padding-right: 0 !important;
	text-align:right;
}
.tweet_content{
	padding-left:20px !important;
}
.tweet_header{
	padding-bottom:3px;
}
.user_name{
	font-weight: 600;
	font-size:15px;
}
.user_screen_name{
	padding-left: 2px;
	color:#aaa;
	font-size:12px;
}
.tweet_created_at{
	font-size:13px;
	color:#999;
	float:left;
}
.tweet_retweet_count{
	float:right;
	color:#999;
	padding-right:10px;
}
.tweet_likes{
	float:right;
	color:#999;
	padding-right: 10px;
}
.tweet_retweet_count:hover{
	color:#17BF63;
}
.tweet_likes:hover{
	color:#E2264D;
}

@media all and (min-width: 800px){
	#tweets{
		width:700px !important;
	}
}

@media all and (max-width: 540px){
	.tweeting_user_image{
		width:32px !important;
		height:32px !important;
	}
	.image_container{
		padding-right: 4px !important;
		padding-left: 4px !important;
	}
}