.pusher{
	min-height: 100vh !important;
}
.siteContainer{
	padding-top: 70px;
}

#notifications-button:hover{
	background:transparent !important;
}

#navbar{
	height:70px;
	background: #fff;
	color:#252525;
}

@media all and (max-width: 520px){
	#navbar{
		height:50px;
	}
	.sitecontainer{
		padding-top: 50px;
	}
}