<!-- Each page extends from the basic Layout file -->
{% extends '../layout.html'  %}

<!-- Stylesheet section-->
{% block style %} 
<link rel='stylesheet' href='/css/index.css'> 
{% endblock %}

<!-- Body of Page -->
{% block main %}
<div class="ui center aligned ab container mainPage">

	<div class="middleAligned">	
		This is a simple application that fetch and display Tweets that <br>a) Have been re-tweeted at least once and <br>b) Contains the hashtag <b>#custserv</b>
	</div>
	 <!-- <div class="ui ab basic black button"><i class="fa fa-refresh"></i></div> -->
</div>
<div class="ui container tweetsContainer">
	<div class="ui header centered" style="padding-top:20px;">Tweets</div>

	<div class="ui container" id="tweets">

	</div>
</div>


<script type="jquery/template-x" id="loaderTemplate">
		<div class="loading_container">
			<img src="img/loader.gif">
			<div>Loading</div>
		</div>
</script>

<script type="jquery/template-x" id="tweetTemplate">
		<div class="ui grid" id="tweet">
			<div class="ui two wide column image_container">
			  <img class="ui avatar image tweeting_user_image" src="###">
			</div>
			<div class="ui fourteen wide column tweet_content">
				<div class="tweet_header">
					<a class="user_name">###</a> <i class="user_screen_name">###</i>
				</div>	
				<div class="description">###</div>
				<div class="tweet_footer">
					<div class="tweet_created_at">###</div>
					<div class="tweet_retweet_count"><i class="fa fa-retweet" aria-hidden="true" style="padding-right:2px;"></i></div>
					<div class="tweet_likes"><i class="fa fa-heart" aria-hidden="true" style="padding-right:2px;"></i></div>
				</div>
			</div>
		</div>
</script>
{% endblock %}

<!-- Javascript section -->
{% block script %}
	<script type='text/javascript' src='components/moment/moment.js'></script>
	<script type='text/javascript' src='js/index.js'></script>
{% endblock %}