<!-- Each page extends from the basic Layout file -->
{% extends './layout.html'  %}

{% block main %}
	<div class="ui container" style="padding-top:30px;">
		<h3>Sorry not found.</h3>
	</div>
{% endblock %}