<!DOCTYPE html>
<html lang="en">
<style>
  a{
    background:black;
    color:white;
  }
</style>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/ab.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    {% block style %}{% endblock %}
    <base href="/">

  </head>
  <body>
    {% include './partials/navbar.html' %}
    <div class="siteContainer">
      {% block main %}{% endblock %}
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/semantic/dist/semantic.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>

